<strong>Olá, {{ student}}</strong>
<p><strong>Sua pergunta: </strong>{{ question }}</p>
<p>Data da pergunta:{{ created_at }}</p>
<br />
<p><strong>Resposta: </strong>{{ answer }}</p>
<p>Data da resposta:{{ answer_at }}</p>
<p>
  <p>
    <strong>Estamos sempre a disposição, bons treinos!</strong>
  </p>
</p>
