<strong>Olá, {{ student}}</strong>
<p>Sua matrícula foi realizada com sucesso, segue os detalhes:</p>
<p>
  <strong>Data de início: </strong>{{ start_date }} <br />
  <strong>Data de término: </strong>{{ end_date }} <br />
  <strong>Plano contratado: </strong>{{ plan }} <br />
  <strong>Preço total: </strong>{{ price }} <br />
  <p>
    <strong>Seja bem vindo, bons treinos!</strong>
  </p>
</p>
